* {
    box-sizing: border-box;
}

body {
	font-family: 'AdelleSans',"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
  line-height: 1.42857143;
  color: #1a1a1a;
  background-color: #fff;
}

h2,
h3 {
	font-family: 'Tiempos Headline',Georgia,"Times New Roman",Times,serif;
	font-weight: 500;
}

h2 {
	font-size: 48px;
	margin: 60px auto;
}

h3 {
	font-size: 36px;
}

.intro {
	font-size: 28px;
	line-height: 1.7;
	font-weight: 400;
	text-align: center;
	width: 75%;
	margin: 0 auto 60px;
}

.select-topic {
		color: #1a1a1a;
		text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
		margin: 30px auto;
}


#app {
	position: relative;
	width: 80%;
	max-width: 1280px;
	margin: 0 auto;
}

#header {
	display: flex;
	margin-top: 100px;
	justify-content: space-between;
	border-bottom: 1px solid #ebebeb;

}

#menu {
	width: 28px;
	height: 28px;
	margin-right: 100px;
	background: url(../img/menu.svg) no-repeat;

}

#logo {
	font-size: 1.7rem;
	font-weight: 800;
}

#social ul {
	display: flex;
	margin: 0 auto 50px;
	padding: 0;

}

#social li {
	text-align: center;
	padding: 12px;
	text-decoration: none;
	border: 1px solid #ebebeb;
}

.icon {
	height: 20px;
	width: 20px
}

.container {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	/*border: 2px solid orange;*/

}
.image_container {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
	/*border: 2px solid green;*/

}

.main-nav ul {
	display: flex;
	flex-direction: row;

}

.main-nav li {
	font-size: 20px;
	margin: 20px;
	padding: 20px;
	list-style: none;
}

.main-nav a {
	color: black ;
	text-decoration: none;
}

.button {
		display: block;
		margin: 60px auto;
    background: #1a1a1a;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 13px 12px 13px;
    width: 230px;
    border-radius: 0;
    border: 1px solid transparent;
    letter-spacing: 2px;
    font-weight: 600;
}

.design {
	width: 576px;
	height: 340px;
	margin: 60px auto;
}

.business {
	display: flex;
	width: 375px;
	height: 224px;
	justify-content: space-between;
	margin: 60px auto;
}
