* {
    box-sizing: border-box;
}

h2 {
	margin: 60px 0;
	font-size: 48px;
	font-weight: 500;
}
p {
	font-size: 24px;
	line-height: 1.5;
	font-weight: 100;
	text-align: center;
	width: 75%;
	margin: 0 auto 30px;
}

#app {
	position: relative;
	width: 80%;
	max-width: 1280px;
	margin: 0 auto;
}

#header {
	display: flex;
	margin-top: 100px;
	justify-content: space-between;
	border-bottom: 1px solid #ebebeb;

}

#menu {
	width: 28px;
	height: 28px;
	margin-right: 100px;
	background: url(../img/menu.svg) no-repeat;

}

#logo {
	font-size: 1.7rem;
	font-weight: 800;
}

#social ul {
	display: flex;
	margin: 0 auto 50px;
	padding: 0;

}

#social li {
	text-align: center;
	padding: 12px;
	text-decoration: none;
	border: 1px solid #ebebeb;
}

.icon {
	height: 20px;
	width: 20px
}

.container {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;

}

.main-nav ul {
	display: flex;
	flex-direction: row;

}

.main-nav li {
	font-size: 20px;
	margin: 20px;
	padding: 20px;
	list-style: none;

}

.main-nav a {
	color: black ;
	text-decoration: none;
}

img {
    display: block;
    margin: 0 auto;
    width: 5%;
}
